footer.
  <div class="container">
    <p class="navbar-text navbar-fixed-bottom pullUp">2014 &copy; Remember</p>
  </div>
script(src="/javascripts/jquery.min.js")
script(src="/javascripts/jquery-ui.min.js")
script(src="/javascripts/bootstrap.js")
script(src="/javascripts/validator.min.js")
script(src="/javascripts/main.js")