doctype html
html(lang="GB-en" manifest="offline.appcache")
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type" content="text/html")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title= title
    meta(name="description" content="Remember the task you need to get done")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/stylesheets/bootstrap.css")
    link(rel="stylesheet" href="/stylesheets/main.css")
    link(rel="stylesheet" href="/stylesheets/animations.css")
    script(src="/javascripts/modernizr.min.js")
  body
    include ./head.jade
    block content
    include ./foot.jade
    